{% extends 'base.html.twig' %}

{% block body %}

<body>

<div class="titlepage">

    <div class="container">
        <div class="">
            <div class="main_home text-center">
                <div class="col-md-12">
                    <div class="">
                        <div class="">
                            <div class="home_text ">
                                <h1 class="text-yellow">Titre de l'article</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/><br/><br/>
<div class="container">
    <div class="imageblog">

        <img src="https://placeimg.com/380/230/tech" alt="">
    </div>
<div>Contenu de l'article</div>

</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}