<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>DigiTeam - agence digitale sport</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}" />

    <title>{% block title %}DigiTeam{% endblock %}</title>

    {% include 'layout/stylesheets.html.twig' %}

</head>

<body>
{% include 'layout/navbar.html.twig' %}
<div class="titlepage" style="padding-top: 4%">
        <div class="container">
            <div >
                <img src="https://placeimg.com/380/230/tech" alt="" class="imageblog">
                <br/><br/>
            </div>
            <div class="main_home text-center">
                <div class="col-md-12">
                    <div class="">
                        <div class="">
                            <div class="home_text ">
                                <h1 class="text-orange">Titre de l'article</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<br/><br/>
<div class="container">
<div class="row" style="border: 2px dashed #f9af32;padding-top: 2%;">
    <div class="col-md-4"><img src="{{ asset('bootstrap//images/team2.jpg') }}" alt="" class="img-circle" /></div>
    <div class="col-md-6"><h5>J'espère que cet article va vous plaire, il est pour vous</h5></div>
</div>
    <br/><br/>
    <div class="container">
    <p style="font-family: Raleway;color:black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.</p>

        <p style="font-family: Raleway;color:black;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
        est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
        modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
        quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
        Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
            illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

        <p style="font-family: Raleway;color:black;">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
        atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
        sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
        facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
        impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
        repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
        voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        <br/><br/>
        <div class="row" style="text-align: right">
            <div class="attr-nav">
                <ul class="list-inline m-top-20">
                    <li style="padding-top: 8%"><h5>Partagez sur</h5></li>
                    <li><a href=""><i class="fa fa-facebook" style="color: black"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter" style="color: black"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin" style="color: black"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram" style="color: black"></i></a></li>
                </ul>
            </div>
        </div>
        <br/><br/>
        <form>Formulaire de commentaires</form>
        <br/><br/>
        2 Checkbox
        <br/><br/>

        <a href="" class="btn btnarticle" style="">Envoyer</a>
        <br/><br/>

    </div>

</div>

{% include 'layout/footer.html.twig' %}
</body>
{% include 'layout/javascripts.html.twig' %}

