<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DigiTeam - agence digitale sport</title>
    <meta name="devis" content="devis">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}" />

    <title>{% block title %}DigiTeam{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('stylperso/devis.css') }}" />
    {% endblock %}

</head>


<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page1-div">
    <img width="1020" height="1360" src="/images/accueildevis.png" alt="image accueil devis"/>
    <p style="position:absolute;top:810px;padding-left: 50%;white-space:nowrap;font-size:16px;font-family:Kaushan;color:#000000;" class="ft00">DEVIS &amp;</p>
    <p style="position:absolute;top:859px;padding-left: 40%;white-space:nowrap;font-size:16px;font-family:Kaushan;color:#000000;" >CONDITIONS GÉNÉRALES DE VENTE</p>
</div>


<style type="text/css">
    <!--
    p {margin: 0; padding: 0;}	.ft00{font-size:16px;font-family:Raleway;color:#000000;}
    .ft01{font-size:16px;font-family:Kaushan;color:#000000;}
    .ft02{font-size:18px;font-family:Times;color:#000000;}
    .ft03{font-size:18px;font-family:Times;color:#000000;}
    .ft04{font-size:18px;font-family:Times;color:#ffffff;}
    .ft05{font-size:16px;font-family:Times;color:#000000;}
    .ft06{font-size:14px;font-family:Times;color:#ffffff;}
    .ft07{font-size:14px;font-family:Times;color:#ffffff;}
    .ft08{font-size:18px;font-family:Times;color:#ffffff;}
    .ft09{font-size:13px;font-family:Times;color:#000000;}
    .ft010{font-size:14px;line-height:20px;font-family:Times;color:#000000;}
    .ft011{font-size:18px;line-height:24px;font-family:Times;color:#000000;}
    .ft012{font-size:16px;line-height:21px;font-family:Times;color:#000000;}
    .ft013{font-size:13px;line-height:18px;font-family:Times;color:#000000;}
    -->
</style>

<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page2-div" style="position:relative;width:1020px;height:1360px;">
    <img width="1020" height="1360" src="/images/DEVIS_STARTER002.png" alt="background image"/>
    <p style="position:absolute;top:249px;left:46px;white-space:nowrap" class="ft010">1 place de la Comédie<br/>34000 MONTPELLIER<br/>Digiteam-p5@gmail.com&#160;<br/>Www.Digiteam-p5.com<br/>Tel : 04 04 04 04 04<br/>Port. : 06 06 06 06 06</p>
    <p style="position:absolute;top:391px;left:46px;white-space:nowrap" class="ft010">N° TVA Intracommunautaire : 123456789<br/>N° SIRET : 3455131400054<br/>Code NAF : 3454<br/>RCS : Rcsrcs<br/>Capital : 1 000 €</p>
    <p style="position:absolute;top:150px;left:682px;white-space:nowrap" class="ft011">Mr Philippe CARLIER<br/>1 place de la Comédie<br/>34000 MONTPELLIER</p>
    <p style="position:absolute;top:405px;left:686px;white-space:nowrap" class="ft03"><b>DEVIS [numéro du devis]</b></p>
    <p style="position:absolute;top:313px;left:675px;white-space:nowrap" class="ft02">[date du devis]</p>
    <p style="position:absolute;top:504px;left:407px;white-space:nowrap" class="ft03"><b>“liste déroulante packs”</b></p>
    <p style="position:absolute;top:561px;left:27px;white-space:nowrap" class="ft04">Référence</p>
    <p style="position:absolute;top:561px;left:279px;white-space:nowrap" class="ft04">Désignation</p>
    <p style="position:absolute;top:561px;left:556px;white-space:nowrap" class="ft04">Charge</p>
    <p style="position:absolute;top:586px;left:561px;white-space:nowrap" class="ft04">(jours)</p>
    <p style="position:absolute;top:561px;left:680px;white-space:nowrap" class="ft04">Prix HT</p>
    <p style="position:absolute;top:561px;left:808px;white-space:nowrap" class="ft04">TVA</p>
    <p style="position:absolute;top:561px;left:901px;white-space:nowrap" class="ft04">Prix TTC</p>
    <p style="position:absolute;top:631px;left:71px;white-space:nowrap" class="ft05">[choix ref]</p>
    <p style="position:absolute;top:631px;left:146px;white-space:nowrap" class="ft012">Création site WordPress (1 à 5 pages)<br/>Création formulaire de contact<br/>Intégration de votre contenu</p>
    <p style="position:absolute;top:653px;left:585px;white-space:nowrap" class="ft05">4</p>
    <p style="position:absolute;top:653px;left:677px;white-space:nowrap" class="ft05">805, 56 €</p>
    <p style="position:absolute;top:653px;left:811px;white-space:nowrap" class="ft05">20%</p>
    <p style="position:absolute;top:653px;left:905px;white-space:nowrap" class="ft05">966, 67 €</p>
    <p style="position:absolute;top:717px;left:71px;white-space:nowrap" class="ft05">2</p>
    <p style="position:absolute;top:717px;left:146px;white-space:nowrap" class="ft05">Référencement naturel</p>
    <p style="position:absolute;top:719px;left:585px;white-space:nowrap" class="ft05">1</p>
    <p style="position:absolute;top:719px;left:679px;white-space:nowrap" class="ft05">201, 39€</p>
    <p style="position:absolute;top:719px;left:811px;white-space:nowrap" class="ft05">20%</p>
    <p style="position:absolute;top:719px;left:905px;white-space:nowrap" class="ft05">241, 67 €</p>
    <p style="position:absolute;top:763px;left:71px;white-space:nowrap" class="ft05">3</p>
    <p style="position:absolute;top:763px;left:146px;white-space:nowrap" class="ft012">Hébergement du nom de domaine et du site&#160;<br/>pendant 1 an</p>
    <p style="position:absolute;top:776px;left:578px;white-space:nowrap" class="ft05">0.5</p>
    <p style="position:absolute;top:776px;left:679px;white-space:nowrap" class="ft05">100, 69€</p>
    <p style="position:absolute;top:776px;left:811px;white-space:nowrap" class="ft05">20%</p>
    <p style="position:absolute;top:776px;left:905px;white-space:nowrap" class="ft05">120, 83 €</p>
    <p style="position:absolute;top:830px;left:71px;white-space:nowrap" class="ft05">4</p>
    <p style="position:absolute;top:830px;left:146px;white-space:nowrap" class="ft05">Formation</p>
    <p style="position:absolute;top:831px;left:578px;white-space:nowrap" class="ft05">0.5</p>
    <p style="position:absolute;top:831px;left:677px;white-space:nowrap" class="ft05">100, 69 €</p>
    <p style="position:absolute;top:831px;left:811px;white-space:nowrap" class="ft05">20%</p>
    <p style="position:absolute;top:831px;left:905px;white-space:nowrap" class="ft05">120, 83 €</p>
    <p style="position:absolute;top:890px;left:689px;white-space:nowrap" class="ft06"><b>Total HT :&#160;</b></p>
    <p style="position:absolute;top:890px;left:905px;white-space:nowrap" class="ft07">&#160;&#160;<b>1 208, 33 &#160;€</b></p>
    <p style="position:absolute;top:931px;left:689px;white-space:nowrap" class="ft06"><b>TVA (20,00%) :&#160;</b></p>
    <p style="position:absolute;top:931px;left:905px;white-space:nowrap" class="ft07">&#160; &#160;<b>&#160; 241, 67 €</b></p>
    <p style="position:absolute;top:972px;left:689px;white-space:nowrap" class="ft08"><b>Total TTC : &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; 1 450, 00 &#160;€</b></p>
    <p style="position:absolute;top:1014px;left:632px;white-space:nowrap" class="ft05">En votre aimable acompte de 50% : 725€</p>
    <p style="position:absolute;top:1058px;left:37px;white-space:nowrap" class="ft09">Notre signature précédée de la mention « lu et accepté ».</p>
    <p style="position:absolute;top:1058px;left:523px;white-space:nowrap" class="ft013">Votre signature précédée de la mention « Lu et accepté » . Merci&#160;<br/>de parapher les 4 pages des conditions générales de l’offre.</p>
    <p style="position:absolute;top:438px;left:685px;white-space:nowrap" class="ft05">Validité du devis : 1 mois</p>
    <p style="position:absolute;top:1229px;left:38px;white-space:nowrap" class="ft013">DigiTeam<br/>3 rue de la Comédie<br/>34000 Montpellier<br/>N° SIREN ou SIRET : xxxxx<br/>N° TVA : FRXX999999999</p>
    <p style="position:absolute;top:1229px;left:416px;white-space:nowrap" class="ft013">Contact<br/>DigiTeam<br/>Tel : 04-67-00-00-12<br/>Mail :&#160;<br/>contact@digteam.com<br/>Site : www.digiteam.com</p>
    <p style="position:absolute;top:1229px;left:776px;white-space:nowrap" class="ft013">Détails bancaires<br/>Banque : BNP Paribas<br/>Code banque : 100000<br/>Numéro de compte :&#160;<br/>12345678<br/>IBAN : FR2341124098234<br/>SWIFT/BIC : FRHHCXX1001</p>
</div>
<button type="submit" id="Envoyer" class="btn btn-danger">Envoyer</button>

</body>



</html>
