{% extends 'base.html.twig' %}

{% block body %}

<body>
<!--présentation services  Section-->
<section id="pricing" class="pricing lightbg">
    <div class="container">
        <div class="row">
            <div class="main_pricing roomy-100">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div class="head_title text-center">
                        <h2>Nos services</h2>
                        <div class="separator_auto"></div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt tation ullamcorper
                            suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End off présentation services  Section -->
</body>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}