<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>DigiTeam - agence digitale sport - nos services</title>
    <meta name="description" content="L'agence Digiteam Sport vous accompagne de la conception jusqu'à la mise en place de votre stratégie digitale. Nos services">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}" />

    <title>{% block title %}DigiTeam{% endblock %}</title>

    {% include 'layout/stylesheets.html.twig' %}

</head>

<body>
{% include 'layout/navbar.html.twig' %}

<div class="titlepage">

    <div class="container">
        <div class="">
            <div class="main_home text-center">
                <div class="col-md-12">
                    <div class="">
                        <div class="">
                            <div class="home_text ">
                                <h1 class="text-orange">Nos services</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Pricing Section-->
<section id="pricing" class="pricing lightbg">
    <div class="container">
        <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="pricing_item">

                        <div class="pricing_head p-top-30 p-bottom-100 text-center">
                            <div class="card-img">
                                <img src="https://placeimg.com/380/230/nature" alt="">
                                <br/><br/>
                                <span><h3 class="text-uppercase">STARTER</h3></span>
                            </div><br/>

                        <div class="pricing_body bg-white p-top-110 p-bottom-60">
                            <ul>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>10</span> user</li>

                            </ul>
                            <div class="pricing_btn text-center m-top-40">
                                <h3>1450€</h3>
                            </div>
                        </div>
                        </div>
                    </div>
                </div><!-- End off col-md-4 -->

            <div class="col-md-4 col-sm-12">
                <div class="pricing_item">

                    <div class="pricing_head p-top-30 p-bottom-100 text-center">
                        <div class="card-img">
                            <img src="https://placeimg.com/380/230/nature" alt="">
                            <br/><br/>
                            <span><h3 class="text-uppercase">CHALLENGER</h3></span>
                        </div><br/>

                        <div class="pricing_body bg-white p-top-110 p-bottom-60">
                            <ul>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>10</span> user</li>

                            </ul>
                            <div class="pricing_btn text-center m-top-40">
                                <h3>2500€</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End off col-md-4 -->

            <div class="col-md-4 col-sm-12">
                <div class="pricing_item">

                    <div class="pricing_head p-top-30 p-bottom-100 text-center">
                        <div class="card-img">
                            <img src="https://placeimg.com/380/230/nature" alt="">
                            <br/><br/>
                            <span><h3 class="text-uppercase">EXPERT</h3></span>
                        </div><br/>

                        <div class="pricing_body bg-white p-top-110 p-bottom-60">
                            <ul>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>10</span> user</li>

                            </ul>
                            <div class="pricing_btn text-center m-top-40">
                                <h3>à partir de 4000€</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End off col-md-4 -->
            </div>


    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="pricing_item">

                <div class="pricing_head p-top-30 p-bottom-100 text-center">
                    <div class="card-img">
                        <img src="https://placeimg.com/380/230/nature" alt="">
                        <br/><br/>
                        <span><h3 class="text-uppercase">AUDIT/CONSEIL</h3></span>
                    </div><br/>

                    <div class="pricing_body bg-white p-top-110 p-bottom-60">
                        <ul>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>10</span> user</li>

                        </ul>
                        <div class="pricing_btn text-center m-top-40">
                            <h3>sur devis</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off col-md-4 -->

        <div class="col-md-4 col-sm-12">
            <div class="pricing_item">

                <div class="pricing_head p-top-30 p-bottom-100 text-center">
                    <div class="card-img">
                        <img src="https://placeimg.com/380/230/nature" alt="">
                        <br/><br/>
                        <span><h3 class="text-uppercase">GESTION DE PROJET</h3></span>
                    </div><br/>

                    <div class="pricing_body bg-white p-top-110 p-bottom-60">
                        <ul>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>10</span> user</li>

                        </ul>
                        <div class="pricing_btn text-center m-top-40">
                            <h3>sur devis</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off col-md-4 -->

        <div class="col-md-4 col-sm-12">
            <div class="pricing_item">

                <div class="pricing_head p-top-30 p-bottom-100 text-center">
                    <div class="card-img">
                        <img src="https://placeimg.com/380/230/nature" alt="">
                        <br/><br/>
                        <span><h3 class="text-uppercase">INBOUND MARKETING</h3></span>
                    </div><br/>

                    <div class="pricing_body bg-white p-top-110 p-bottom-60">
                        <ul>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>10</span> user</li>

                        </ul>
                        <div class="pricing_btn text-center m-top-40">
                            <h3>sur devis</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div><!-- End off col-md-4 -->
    </div>
    </div><!--End off row-->

    <div align="center" >
        <a href="{{ path ('contact') }}" class="btn btn-default">Demander un devis</a>
    </div>
<br/><br/>
    </div><!--End off container -->
</section> <!--End off Pricing section -->


<a href="#" class="scrollup" style="display: block;"></a>

{% include 'layout/footer.html.twig' %}
</body>
{% include 'layout/javascripts.html.twig' %}